@(gameStatus: String, board: de.htwg.se.mill.model.BoardInterface)
@main("Mill - " + gameStatus) {
<pre>@gameStatus</pre>
<div class="mill">
    <div class="board">
        @for(ring <- 0 until board.size) { <div class="ring">
            @for(row <- 0 until board.size) { <div class="row">
                @for(col <- 0 until board.size) { @if(board.getField(col, row, ring).isDefined) { <span class="field"
                    data-coords="@col@row@ring">@board.getField(col, row, ring).get</span>
                    }
                    }
    </div>
    }
</div>
}
</div>
</div>
}